#displayContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.cloneCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    border: .5px solid lightgray;
    width: max-content;
    box-shadow: 2px 2px 5px lightgray;
}

img {
    width: 200px;
    height: auto;
    border-radius: 25px;
}

button {
    margin-top: 10px;
}